
// Debugging


// color scheme
$bgbase: #a4825a;
$darker: darken($bgbase, 10%);
$darkerer: darken($bgbase, 20%);
$lighter: lighten($bgbase, 30%);

body {
  background: $bgbase url(../img/bg-tiled-v2.jpg);
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  // justify-content: center;
  align-items: center;
  // font-size: 1.2vmin;
  font-size: 120%;
  line-height: 1.4;

}

.page {
  margin: 1em;
  // margin: 20vmin;
  // margin: 2em 20vmin;
  // background-color: rgba(255,255,255,0.7);
  // background-color: $lighter;
  background-color: white;
  border: 1px solid black;
  max-width: 1024px;
  border-radius: 25px;
}


.header {
  display: flex;
  flex-flow: row wrap;
  // justify-content: center;
  justify-content: center;
  align-items: center;
  font-size: 90%;
  // font-size: 1.2vmin;
  // background-color: $lighter;
  // background-color: rgba(255,255,255,0.7);
  // border-radius: 25px;

  .title {
  display: flex;
    flex-flow: column wrap;
    text-align: center;
    margin: 1em;

    h1 {
      margin: 0;
      padding: 0;
    }
    h2 {
      margin: 0;
      padding: 0;
    }
    h3 {
      margin: 0;
      padding: 0;
    }
  }

  .media {
    // flex-flow: column nowrap;
    flex-flow: row wrap;
    text-align: center;
    // width: 100%;
    display: flex;
    justify-content: space-around;

    // margin-left: 2em;
    a {
      display: block;
      margin: 0.5em;
    }
    img {
      width: 20px;
    }
  }

  .logo {
    // margin-right: 2em;
    img {
      margin: 1em;
      width: 200px;
    }
  }
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  a {
    text-decoration: none;
    border: 1px solid black;
    // background-color: #69533A;
    background-color: $darker;
    flex-grow: 1;
    text-align: center;
    color: white;
    padding: 0.25em;
    &:hover {
      // background-color: #ccc;
      background-color: $darkerer;
    }
  }
}

.content {
  margin: 1em 0.1em;
  padding: 0 2em;
}


.map-uspto {
  float: right;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  // flex-basis: 0;
  justify-content: space-between;
}

.logo-row {
  img {
		height: 100px;
    border: 1px solid black;
    @media (max-width: 768px) {
      height: 50px;
    }
  }
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
}

.twitter-news {
  background-color: rgba(255,255,255,0.5);
}

  // .content {
  //   font-size: 90%;
  //   padding: 0 2em;
  // }

.talk {
  a {
    text-decoration: none;
  }
}


.schedule-flat {
  // Main container: initialize the flex, direction is row
  .table-row {
    display: flex;           display: -webkit-flex;
    flex-direction: row;     -webkit-flex-direction: row;
    flex-grow: 0;            -webkit-flex-grow: 0;
    flex-wrap: wrap;         -webkit-flex-wrap: wrap;
    width: 100%;
    // padding-left: 15px;
    // padding-right: 15px;
  }

  // Text based cells: grow, truncate and show ellipsis when there is not enough space
  .text {
    flex-grow: 1;            -webkit-flex-grow: 1;
    // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // padding-right: 20px;
  }

  // Fix the minimum width of the leaf level cells
  .text {
    width: 180px;
    border: 2px solid #e0e0e0;
  }

  // Text based cells: grow, truncate and show ellipsis when there is not enough space
  .time {
    flex-grow: 1;            -webkit-flex-grow: 1;
    // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // padding-right: 20px;
  }

  // Fix the minimum width of the leaf level cells
  .time {
    width: 50px;
    border: 2px solid #e0e0e0;
  }

  .num {
    width: 80px;
  }

  .table-row {
    // border: 2px solid #e0e0e0;
    // border-collapse: collapse;
    // padding-top: 5px;
  }

  .table-row.header {
    background-color: #FFEEDB;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.schedule-table {
  table {
    border: 0px;
    cell-spacing: 4px;
    background-color: #EEE;
    border-radius: 10px 20px;
  }
  th, td {
    border: 0px solid white;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
    margin: 2px;
    border-radius: 5px 5px;
  }
  h2 {
    display: block;
    background-color: #CDC;
    border-radius: 5px 10px;  
    text-indent: 2em;
  }
  .T1, .T2, .T3, .T4 {
    box-shadow: 1px 1px 3px grey;
  }
  .T1 {
    background-color: #FFF;
  }
  .T2 {
    background-color: #FFD;
  }
  .T3 {
    background-color: #FED;
  }
  .T4 {
    background-color: #FDD;
  } 
}
