
// Debugging


// color scheme
$bgbase: #a4825a;
$darker: darken($bgbase, 10%);
$darkerer: darken($bgbase, 20%);

body {
  background: $bgbase url(../img/bg-tiled-v2.jpg);
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  // justify-content: center;
  align-items: center;
  // font-size: 1.2vmin;
  font-size: 120%;
  line-height: 1.4;

}

.page {
  margin: 1em;
  // margin: 20vmin;
  // margin: 2em 20vmin;
  // background-color: rgba(255,255,255,0.7);
  background-color: white;
  border: 1px solid black;
  max-width: 1024px;
  border-radius: 25px;
}


.header {
  display: flex;
  flex-flow: row wrap;
  // justify-content: center;
  justify-content: center;
  align-items: center;
  font-size: 90%;
  // font-size: 1.2vmin;

  .title {
  display: flex;
    flex-flow: column wrap;
    text-align: center;
    margin: 1em;

    h1 {
      margin: 0;
      padding: 0;
    }
    h2 {
      margin: 0;
      padding: 0;
    }
    h3 {
      margin: 0;
      padding: 0;
    }
  }

  .media {
    // flex-flow: column nowrap;
    flex-flow: row wrap;
    text-align: center;
    // width: 100%;
    display: flex;
    justify-content: space-around;

    // margin-left: 2em;
    a {
      display: block;
      margin: 0.5em;
    }
    img {
      width: 20px;
    }
  }

  .logo {
    // margin-right: 2em;
    img {
      margin: 1em;
      width: 200px;
    }
  }
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  a {
    text-decoration: none;
    border: 1px solid black;
    // background-color: #69533A;
    background-color: $darker;
    flex-grow: 1;
    text-align: center;
    color: white;
    padding: 0.25em;
    &:hover {
      // background-color: #ccc;
      background-color: $darkerer;
    }
  }
}

.content {
  margin: 1em 0.1em;
  padding: 0 2em;
}


.map-uspto {
  float: right;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  // flex-basis: 0;
  justify-content: space-between;
}

.logo-row {
  img {
		height: 100px;
    border: 1px solid black;
    @media (max-width: 768px) {
      height: 50px;
    }
  }
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
}

.twitter-news {
  background-color: rgba(255,255,255,0.5);
}

  // .content {
  //   font-size: 90%;
  //   padding: 0 2em;
  // }

.talk {
  a {
    text-decoration: none;
  }
}
