
[% USE Markdown %]
[% FILTER markdown %]

# Location

Located just inside of the DC Beltway, The Perl Conference will be hosted at the US Patent Office in Alexandria, VA. This location is metro accessible, and is only two stops from the DC Airport (DCA).

<a href="https://en.wikipedia.org/wiki/Alexandria_Union_Station"><img src="/tpc-2017-dc/img/440px-Amtrak_82_at_Alexandria_Union_Station_in_2007.jpg"></a>

[%-END %]
