<html>
  <head>
    <base href="/tpc-2017-dc/">
    <!-- <base href="/"> -->


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <meta name="theme-color" content="#a4825a">
  </head>

  <body>
    <div class="page">
      <div class="header">
        <div class="logo">
          <!-- <img src="img/chainsawarmyknife_november22016.png"> -->
          <img src="img/chainsaw-v5.png">
        </div>
        <div class="title">
          <h1>The Perl Conference</h1>
          <h2>2017 - Washington, DC</h2>
          <h3>(YAPC::NA 2017)</h3>
        </div>
        <div class="media">
          <a href="https://twitter.com/@perlfoundation"><img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/43-twitter-512.png"></a>
          <a href="https://www.facebook.com/tpf.perl"><img src="https://image.freepik.com/free-icon/facebook-symbol_318-37686.jpg"></a>
          <a href="http://www.perlfoundation.org/"><img src="http://coudot.blogs.linagora.com/public/coudot.blogs.linagora.com/logos/perl-onion-200px.png"></a>
        </div>
      </div>
      <div class="nav">
        <a href="./">Home & News</a>
        <a href="register/">Register</a>
        <a href="cfp/">CFP</a>
        <!-- <a href="/">Schedule</a> -->
        <a href="location/">Location</a>
        <a href="hotel/">Where to stay</a>
        <a href="soc/">Standards of Conduct</a>
        <a href="https://github.com/dcbpw/tpc-2017-dc/wiki">Wiki</a>
        <a href="contact/">Contact</a>
      </div>
      <div class="content">

        
// Debugging


// color scheme
$bgbase: #a4825a;
$darker: darken($bgbase, 10%);
$darkerer: darken($bgbase, 20%);

body {
  background: $bgbase url(../img/bg-tiled-v2.jpg);
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  // justify-content: center;
  align-items: center;
  // font-size: 1.2vmin;
  font-size: 120%;
  line-height: 1.4;

}

.page {
  margin: 1em;
  // margin: 20vmin;
  // margin: 2em 20vmin;
  background-color: rgba(255,255,255,0.7);
  // background-color: white;
  border: 1px solid black;
  max-width: 1024px;
  border-radius: 25px;
}


.header {
  display: flex;
  flex-flow: row wrap;
  // justify-content: center;
  justify-content: center;
  align-items: center;
  font-size: 90%;
  // font-size: 1.2vmin;

  .title {
  display: flex;
    flex-flow: column wrap;
    text-align: center;
    margin: 1em;

    h1 {
      margin: 0;
      padding: 0;
    }
    h2 {
      margin: 0;
      padding: 0;
    }
    h3 {
      margin: 0;
      padding: 0;
    }
  }

  .media {
    // flex-flow: column nowrap;
    flex-flow: row wrap;
    text-align: center;
    // width: 100%;
    display: flex;
    justify-content: space-around;

    // margin-left: 2em;
    a {
      display: block;
      margin: 0.5em;
    }
    img {
      width: 20px;
    }
  }

  .logo {
    // margin-right: 2em;
    img {
      margin: 1em;
      width: 200px;
    }
  }
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  a {
    text-decoration: none;
    border: 1px solid black;
    // background-color: #69533A;
    background-color: $darker;
    flex-grow: 1;
    text-align: center;
    color: white;
    padding: 0.25em;
    &:hover {
      // background-color: #ccc;
      background-color: $darkerer;
    }
  }
}

.content {
  margin: 1em 0.1em;
  padding: 0 2em;
}


.map-uspto {
  float: right;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  // flex-basis: 0;
  justify-content: space-between;
}

.logo-row {
  img {
		height: 100px;
    border: 1px solid black;
    @media (max-width: 768px) {
      height: 50px;
    }
  }
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
}

.twitter-news {
  background-color: rgba(255,255,255,0.5);
}

  // .content {
  //   font-size: 90%;
  //   padding: 0 2em;
  // }



      </div>
    </div>
  </body>
</html>

